.filme {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info-filme {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 100px;
}

.info-filme h1 {
    font-size: 54px;
}

.info-filme img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.info-filme p {
    color: #D2D7DF;
    font-size: 22px;
    width: 100%;
    margin-top: 10px;
}

.link-trailer {
    font-size: 1.5rem;
    margin-top: 10px;
    text-decoration: none;
    color: #E16F7C;
}

.link-trailer:hover {
    color: #F8A0AC;
}

.generos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.genero-filme {
    background-color: #7CE1B0;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.genero-filme:hover {
    transform: scale(1.1);
}