.titulo-home {
    text-align: center;
    font-size: 48px;
    margin-bottom: 2rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.link-filme {
    margin: 5px 0 5px 0;
}

.btn-salvar {
    width: 50%;
    height: 1.5rem;
    margin-top: 5px;
    border: none;
    border-radius: 2px;
    background-color: #D2D7DF;
}

.btn-salvar:hover {
    background-color: #E16F7C;
    color: #D2D7DF;
}