* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #282828;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #D2D7DF;
}

h2 {
    color: #D2D7DF;
}

a {
  text-decoration: none;
  color: #E16F7C;
}

a:hover {
  color: #F8A0AC;
}

.container-pagina {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.filmes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  margin: 0 20px 0 20px;
  width: 100%;
  height: 100%;
}

.filme-card {
  min-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 20px 50px 10px 50px;
}

.filme-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.filme-card p {
  font-size: 22px;
  font-weight: bold;
  color: #D2D7DF;
  margin-bottom: 10px
}

.filme-card a {
  width: 100%;
}

.filme-card img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.link-filme {
  color: #282828;
  text-align: center;
  width: 100%;
  background-color: #7CE1B0;
  font-size: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 0 5px 0;
}

.link-filme:hover {
  color: #282828;
}